<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}Internet Theater Database{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        | <a href="/main/">Home</a> | <a href="/main/theater/">Theaters</a>
        | <a href="/main/play/">Plays</a> | <a href="/main/people/">People</a>
        | <a href="/main/production/">Productions</a> |
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>