{% extends "base.html" %}
{% block content %}
<H1>Welcome to the Internet Theater Database</H1>
<h2>The (nearly) compete database of all musical theater</h2>
<ul>
    <li> <a href="/main/theater/">Theaters</a> ({{ Theaters }})</li>
    <li> <a href="/main/play/">Plays</a> ({{ Plays }})</li>
    <li> <a href="/main/people/">People</a> (Actors, Directors, Writers, Producers, Musicians) ({{ People }})</li>
    <li> <a href="/main/production/">Productions</a> (a particular play, performed at a particular theater, between specific dates) ({{ Productions }})</li>
</ul>
{% endblock %}