{% extends "base.html" %}
{% load custom_tags %}

{% block content %}

<table border="0">
    <tr>
        <td rowspan="2">
            {% if person.headshot %}
                <img src="{{ person.headshot.url }}" alt="Image of {{ person.name }}" height="250" width="250">
            {% else %}
                (No image available)
            {% endif %}
        </td>
        <td>
            <h1 style="margin-bottom:0px">{{ person.name }}</h1>
            <p style="margin-top:0px">{% if person.cast_set.all %} Actor{% endif %}{% if person.play_set.all %} | Writer{% endif %}</p>
        </td>
    </tr>
    <tr>
        <td>
            <h2>Biography:</h2>
            {{person.short_bio}}
        </td>
    </tr>
</table>

{% if person.play_set.all %}
    <h2>Writing credits:</h2>

    <ul>
        {% for play in person.play_set.all %}
            <li><em><a href="/main/play/{{play.id}}/">{{ play.title }}</a></em></li>
        {% endfor %}
    </ul>
{% endif %}

{% if person.cast_set.all %}
    <h2>Actor:</h2>
    <table border="0">
        <tr>
            <th style="width: 100px">Production</th>
            <th style="width: 200px">Play</th>
            <th style="width: 300px">Theater (City)</th>
            <th style="width: 75px">Year</th>
        </tr>
        {% for role in person.cast_set.all|sort_by:'character' %}
        <tr>
            <td><a href="/main/production/{{role.production.id}}/">Playbill</a></td>
            <td><em><a href="/main/play/{{role.production.play.id}}/">{{ role.production.play.title }}</a></em><p style="margin-top: 0px">{{ role.character }}</p></td>
            <td><a href="/main/theater/{{role.production.theater.id}}/">{{ role.production.theater.name }} ({{ role.production.theater.city }})</a></td>
            <td>{{ role.production.display_year }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% if person.musician_set.all %}
    <h2>Musician:</h2>

    <ul>
        {% for instrument in person.musician_set.all|sort_by:'instrument' %}
            <li><a href="/main/production/{{instrument.production.id}}/">Details</a> | <em><a href="/main/play/{{instrument.production.play.id}}/">{{ job.production.play.title }}</a></em> |
                <a href="/main/theater/{{instrument.production.theater.id}}/">{{ instrument.production.theater.name }} ({{ instrument.production.theater.city }})</a> |
                {{ instrument.instrument }} | {{ instrument.production.display_year }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if person.crew_set.all %}
    <h2>Creative Staff:</h2>
    <table border="0">
        <tr>
            <th style="width: 100px">Production</th>
            <th style="width: 200px">Play</th>
            <th style="width: 300px">Theater (City)</th>
            <th style="width: 75px">Year</th>
        </tr>
        {% for job in person.crew_set.all|sort_by:'job' %}
        <tr>
            <td><a href="/main/production/{{job.production.id}}/">Playbill</a></td>
            <td><em><a href="/main/play/{{job.production.play.id}}/">{{ job.production.play.title }}</a></em><p style="margin-top: 0px">{{ job.job }}</p></td>
            <td><a href="/main/theater/{{job.production.theater.id}}/">{{ job.production.theater.name }} ({{ job.production.theater.city }})</a></td>
            <td>{{ job.production.display_year }}</td>
        </tr>
        {% endfor %}
    </table>

{% endif %}

{% endblock %}