{% extends "base.html" %}
{% block content %}

<h1>{{ person.name }}</h1>
{% if person.headshot %}
    <img src="{{ person.headshot.url }}" alt="Image of {{ person.name }}" height="250" width="250">
{% else %}
    <p>(No image available)</p>
{% endif %}

<h2>Biography:</h2>
{{person.short_bio}}
<h2>Has Appeared in:</h2>

<ul>
{% for role in person.cast_set.all %}
    <li><a href="/main/production/{{role.production.id}}/">Details</a> | <em><a href="/main/production/{{role.production.id}}/">{{ role.production.play.title }}</a></em> |
        <a href="/main/theater/{{role.production.theater.id}}/">{{ role.production.theater.name }} ({{ role.production.theater.city }})</a> |
        {{ role.character }} |
        {{ role.production.display_year }}
    </li>
{% endfor %}
</ul>

<h2>Worked as crew on:</h2>

<ul>
{% for job in person.crew_set.all %}
    <li><a href="/main/production/{{job.production.id}}/">Details</a> | <em><a href="/main/production/{{job.production.id}}/">{{ job.production.play.title }}</a></em> |
        <a href="/main/theater/{{job.production.theater.id}}/">{{ job.production.theater.name }} ({{ job.production.theater.city }})</a> |
        {{ job.job }} |
        {{ job.production.display_year }}
    </li>
{% endfor %}
</ul>
{% endblock %}