{% extends "base.html" %}
{% block content %}

<h1>{{ play.title }}</h1>
<p>Written by:
    {% if play.writer %}
        <a href="/main/people/{{play.writer.id}}/">{{ play.writer }}</a></p>
    {% endif %}

<h2>Synopisis:</h2>
{{play.synopsis}}</p>

{% if play.musical_numbers_set.all %}
    <h2>Musical Numbers:</h2>
    <ul>
        {% for song in play.musical_numbers_set.all %}
        <li>{{song.title}} | {{song.composer}}</li>
        {% endfor %}
    </ul>
{% endif %}

<h2>All productions of {{play.title}}:</h2>
<ul>
    {% for production in play.production_set.all %}
        <li><a href="/main/production/{{production.id}}/">Details</a> | <a href="/main/theater/{{production.theater.id}}/">{{ production.theater.name }}</a> ({{ production.theater.city }}) : {{production.production_company}} : {{ production.start_date }} - {{ production.end_date}}</li>
    {% endfor %}
</ul>

{% endblock %}