{% extends "base.html" %}
{% block content %}

<h1>All Productions</h1>
{% if all_productions_by_date %}
    <table>
        {% for production in all_productions_by_date %}
            <tr>
                <td><a href="/main/production/{{production.id}}/">{{ production.play }}</td>
                <td>{{ production.theater }}</td>
                <td>{{ production.display_year }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No productions are available</p>
{% endif %}

{% endblock %}