{% extends "base.html" %}
{% load custom_tags %}

{% block content %}

<h1><em><a href="/main/play/{{production.play.id}}/">{{ production.play.title }}</a></em> at <a href="/main/theater/{{production.theater.id}}/">{{ production.theater.name }}</a> ({{ production.theater.city }}): {{ production.display_year }}</h1>
Opened: {{ production.start_date }}</p>
Closed: {{ production.end_date }}</p>
Produced by:
{% if production.prod_company.sponsor %}
    <a href="{{ production.prod_company.link }}">
        {% if production.prod_company.image %}
            <img src = "{{ production.prod_company.image.url }}" alt = "{{ production.prod_company.name }}"
                 height = "125" width="500">
        {% else %}
            {{ production.prod_company.name }}
        {% endif %}
        </a>
{% else %}
    {{ production.prod_company.name }}
{% endif %}</p>

{% if production.notes %}
    <h2>Notes</h2>
    {{ production.notes }}</p>
{% endif %}
Directed by:
{% if production.cast_set.all %}
    <h2>Cast</h2>
    <table>
        {% for cast in production.cast_set.all|sort_by:'character' %}
        <tr>
            <td style="width: 65px">{% if cast.person.headshot %}<img src="{{ cast.person.headshot.url }}" alt="" width="50" height="50">{% endif %} </td>
            <td style="width: 200px; vertical-align: middle"><a href="/main/people/{{cast.person.id}}/">{{ cast.person.name }}</a>
            </td>
            <td style="width: 100px; vertical-align: middle"><em>{{ cast.character}}</em></td></td>
                {% if cast.billed_as %}<p style="margin-top: 0px">(billed as {{ cast.billed_as }})</p>{% endif %}</tr>
        <tr><td> </td><td> {% if cast.billed_as %}(billed as {{ cast.billed_as }}){% endif %}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% if production.musician_set.all %}
    <h2>Musicians</h2>
    <table>
        {% for musician in production.musician_set.all|sort_by:'instrument' %}
        <tr>
            <td><em>{{ musician.instrument}}</em></td></td><td><a href="/main/people/{{musician.instrument.id}}/">{{ musician.person.name }}</a></td>
            <td>{% if musician.person.headshot %}<img src="{{ musician.person.headshot.url }}" alt="" width="50" height="50">{% endif %} </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% if production.crew_set.all %}
    <h2>Creative Staff</h2>
    <table>
        {% for staff in production.crew_set.all|sort_by:'job' %}
        <tr>
            <td><em>{{ staff.job }}</em></td></td><td><a href="/main/people/{{staff.person.id}}/">{{ staff.person.name }}</a></td>
            <td>{% if staff.person.headshot %}<img src="{{ staff.person.headshot.url }}" alt="" width="50" height="50">{% endif %} </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}